@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.deal-row {
  border-bottom: 0.1rem solid #e1e1e1;
}

.deal-row td {
  padding: 1.2rem 1.5rem;
  text-align: right;
}
